<div class="container">
  <button class="get-button" (click)="onButtonClick('GET_Session')">GET Sessions</button>
  <button class="post-button" (click)="onButtonClick('GET_Film')">GET Films</button>
</div>

<table *ngIf="isTableActive('session') && sessions.length > 0" class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>FreeSeat</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let session of sessions">
        <td>{{ session.name }}</td>
        <td>{{ session.freeSeat }}</td>
        <td>{{ session.status }}</td>
    </tr>
</tbody>
</table>

<table *ngIf="isTableActive('film') && films.length > 0" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Watch Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.name }}</td>
      <td>{{ film.duration }}</td>
      <td>{{ film.watchStatus }}</td>
    </tr>
  </tbody>
</table>